content
/public/assets/img/
config.php
/config/*.php
/vendor
/downloads
Dockerfile

.idea
.vscode
.DS_Store

docs/README_config.md
docs/README_ftp.md

/.env*
!/.env.example

*.log
.test_smpt.txt
var/rateLimit.json
